* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.centerText {
    text-align: center;
}
.rightAlign {
    text-align: right;
}
.nav-container {
    .links {
        text-decoration: none;
        margin-right: 10px;
        color: black;
        &:hover {
            font-weight: bold;
            font-style: italic;
        }
    }
}

.about-container {
    display: flex;
    .intro {
            padding: 100px 5px;
        }
        .flower {
            width: 100%;
        }
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}

.language-container {
    display: block;
    .languagelist {
        padding: 10px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.contact-container {

    textarea {
        resize: none;
    }
}

.footer-container {
    color: black;
        .socialmedia {
            color: black;
            margin-right: 30px;
        }
}

