$contactwidth: 350px;
$contactinputbgcolor: rgb(67, 66, 66);
$contentfont: 0.75rem;
$bgcolor: rgb(34, 34, 34);
$fontcolor: white;
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: $bgcolor;
    color: $fontcolor;
}
header {
    font-size: 4rem;
    padding: 1rem 0;
}
.centerText {
    text-align: center;
}
.rightAlign {
    text-align: right;
}
.rightMargin {
    margin-right: 2rem;
}
.bold {
    font-weight: bold;
}
.nav-container { //NAVBAR
    padding: .25rem .5rem;
    font-size: 1.25rem;
    .links {
        text-decoration: none;
    }
}
.about-container { //HOME-ABOUT
    display: flex;
    .intro {
        width: 50%;
        padding: 9rem 1rem;
        }
        .intro2 {
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }
        .intro3 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .flower {
            width: 50%;
        }
}
.gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem;
    header {
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }
        .skills-container, .framework-container {
            border: 3px solid gray;
            border-radius: 10px;
            margin: 0.5rem;
            padding: 1rem 2rem;
        }
        .skillbar {
            text-align: center;
            width: 60%;
        }
        .skills {
            position: absolute;
            font-size: 0.75rem;
            margin-top: -1rem;
            margin-left: -0.6rem;
            color: $fontcolor;
        }
        progress {
            position: absolute;
            margin-left: 1rem;
            background-color: rgb(220, 241, 234);
            border-radius: 10px;
            color: lightskyblue;
            height: 25px;
        }
}
.project-container { //PORTFOLIO PAGE
    display: grid;
    padding: 2rem 5rem;
    .project-grid {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project-images {
        width: 350px;
        height: 200px;
        border-radius: 10px;
    }
    .project-description {
        margin-left: 2rem;
    }
}

.contact-container { //CONTACT PAGE
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        font-weight: bold;
        display: block;
        align-items: center;
        padding: 0.5rem 0.25rem;
    }
    input, textarea, .submit{
        border-color:$bgcolor;
        background-color: $contactinputbgcolor;
        width: $contactwidth;
    }
    textarea {
        resize: none;
    }
    .submit {
        margin: 0.25rem;
        padding: .25rem;
        border-radius: 5px;
    }
}
.end {
    padding-top: 0.5rem;
}
.footer-container { //FOOTER
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    // padding: 1rem 1rem;
    color: black;
        .socialmedia {
            color: $fontcolor;
        }
}
.socialmedia, .submit, .links { //HOVER & ACTIVE
    &:hover {
        font-style: italic;
        transform: translateY(1px);
        box-shadow: 1px 1px 10xp black;
        color:rgb(192, 192, 192);
    }
    &:active {
        transform: translateX(2px);
        font-weight: bold;
        color:rgb(192, 192, 192);
        opacity: 0.5;
    }
}